<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels</title>
       <link rel="stylesheet" href="/style.css">
       <link rel="stylesheet" href="/style2.css">
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
   <%- include("../partials/navbar")%>
  <div class="card-container">
    <% for(let d of data) { %>
        <div class="card" >
            <a href="http://localhost:3000/book/<%=d._id%>">
            <img class="card-image" src="<%= d.image %>" alt="Image">
            <h3 class="card-title"><%= d.title %></h3>
            <h4 class="card-price">₹ <%= d.price.toLocaleString("en-IN") %></h4>
            </a>
        </div>
    <% } %>
</div>
<%- include("../partials/footer")%>


</body>
</html>